@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #ba926c;
  color: #fff;
}
 
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 1rem;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-toggle-icon {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
